/war/hello/
/war/showcase/
/war/mnemonics/
/war/gwtdlx/
/war/WEB-INF/classes/
/war/WEB-INF/deploy/
/war/WEB-INF/lib/gwt-servlet.jar
/war/WEB-INF/jribble
/war/WEB-INF/showcase
/bin
.scala_dependencies
.settings/
jribbleCache
gwt-unitCache
.externalToolBuilders/
.gwt/

war/WEB-INF/appengine-generated/
war/WEB-INF/lib/appengine-*.jar
war/WEB-INF/lib/datanucleus-*.jar
war/WEB-INF/lib/geronimo-jpa_3.0_spec-1.1.1.jar
war/WEB-INF/lib/geronimo-jta_1.1_spec-1.1.1.jar
war/WEB-INF/lib/jdo2-api-2.3-eb.jar
war/WEB-INF/lib/jsr107cache-1.1.jar
lib/gwt/
lib/scala/